.typeahead,
.tt-query,
.tt-hint {
  width: 500px;
  height: 44px;
  padding: 8px 35px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
          border-radius: 100px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 500px;
  margin: -12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

#logo-img {
  text-align:center;
  width: 550px;
}

#home-container {
  text-align: center;
  /*For old logo with middle slash thing: padding-top: 70px;*/
}

.search-div-form {
  position: relative;
}

.search-div-form i {
  position: absolute;
  left: 318px;
  top: 13px;
  color: gray;
}

/*
Bootstrap container dimensions
https://www.w3schools.com/bootstrap4/bootstrap_containers.asp
*/
@media screen and (max-width: 1200px) {
  .search-div-form i {
    left: 230px;
  }
}

@media screen and (max-width: 992px) {
  .search-div-form i {
    left: 108px;
  }
}

@media screen and (max-width: 768px) {
  .typeahead,
  .tt-query,
  .tt-hint,
  .tt-menu {
    width: 500px;
  }

  #logo-img {
    width: 300px;
  }

  #home-container {
    padding-top: 0;
  }

  .search-div-form i {
    left: 20px;
  }
}

@media screen and (max-width: 576px) {
  .typeahead,
  .tt-query,
  .tt-hint,
  .tt-menu {
    width: 380px;
  }

  .search-div-form i {
    width: 100%;
    left: -165px;
  }
}

@media screen and (max-width: 480px) {
  .typeahead,
  .tt-query,
  .tt-hint,
  .tt-menu {
    width: 100%;
  }

  #logo-img {
    width: 100%;
  }

  .search-div-form i {
    width: 100%;
    left: -140px;
  }
}

@media screen and (max-width: 350px) {
  .search-div-form i {
    width: auto;
    left: 15px;
  }
}

#home-container .rounded-button {
  margin-bottom: 25px;
}

.rounded-button {
  -webkit-border-radius: 40px;
     -moz-border-radius: 40px;
          border-radius: 40px;
  width: 100%;
  text-align: center;
  border-color: gray;
}

#more-organizations-button {
  visibility: hidden;
}

.rounded-button b {
  color: #1e90ff;
  padding: 20px;
  text-decoration: none;
  border-color: gray;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.rounded-button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.down-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
