#typeahead-input-field {
  margin-bottom: 25px;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 500px;
  height: 44px;
  padding: 8px 16px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
          border-radius: 100px;
  outline: none;
}

#typeahead-input-field.typeahead,
.tt-query,
.tt-hint {
  padding: 8px 35px;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 500px;
  margin: -12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.search-div-form {
  position: relative;
}

.search-div-form i {
  position: absolute;
  left: 21px;
  top: 13px;
  color: gray;
}

@media screen and (min-width: 1200px) {
  .search-div-form i {
    left: 320px;
  }
}

@media screen and (max-width: 1200px) {
  .search-div-form i {
    left: 230px;
  }
}

@media screen and (max-width: 992px) {
  .search-div-form i {
    left: 108px;
  }
}

@media screen and (max-width: 768px) {
  .typeahead,
  .tt-query,
  .tt-hint,
  .tt-menu {
    width: 500px;
  }

  #logo-img {
    width: 300px;
  }

  #home-container {
    padding-top: 0;
  }

  .search-div-form i {
    left: 20px;
  }
}

@media screen and (max-width: 576px) {
  .typeahead,
  .tt-query,
  .tt-hint,
  .tt-menu {
    width: 380px;
  }

  .search-div-form i {
    width: 100%;
    height: 1px;
    left: -165px;
  }
}

@media screen and (max-width: 480px) {
  .typeahead,
  .tt-query,
  .tt-hint,
  .tt-menu {
    width: 100%;
  }

  #logo-img {
    width: 100%;
  }

  .search-div-form i {
    width: 100%;
    height: 1px;
    left: -140px;
  }
}

@media screen and (max-width: 350px) {
  .search-div-form i {
    width: auto;
    left: 15px;
  }
}

.grow-charity-card {
  background-color: #1E5175;
  color: lightgray;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  max-height: 250px;
  width: 100%;
  margin: 5px 1% 5px 1%;
  float: left;
  position: relative;
  transition: max-height 0.6s;
  -webkit-transition: max-height 0.6s;
  text-align: center;
  overflow: hidden;
}

.grow-charity-card a {
  color: inherit;
}

.grow-charity-card:hover {
  max-height: 1000px;
}

.grow-charity-card p {
  opacity: 0;
  transition: opacity 1.2s, padding-bottom 0.8s;
}

.grow-charity-card:hover p {
  opacity: 1;
}

.grow-charity-card:hover p[data-text="how"] {
  padding-bottom: 40px;
}

.add-cart {
  position: absolute;
  bottom: 10px;
}

.fa-hand-holding-heart {
  font-size: 4em;
}

#listed-added-cart {
  overflow: auto;
  display: flex;
  /*white-space: nowrap;*/
}
