{% extends "base.html" %}
{% load static i18n %}

{% block title %}User: {{ object.username }} | Donate Anything{% endblock %}

{% block content %}
<div class="container">

  <div class="row pt-4">
    <div class="col-sm-12">

      <div class="row">
        <h2>Username: {{ object.username }}</h2>
        {% if object.is_verified %}
        <div class="pl-3">
          <span class="fa fa-stack fa-lg" data-toggle="tooltip" title="Verified Account">
            <i class="fa fa-certificate fa-stack-2x text-primary"></i>
            <i class="fa fa-check fa-stack-1x fa-inverse fa-slash"></i>
          </span>
        </div>
        {% endif %}
      </div>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">
  <p>{% blocktranslate %}If you're looking to create a Verified Account for your organization, then please <a href="https://forms.gle/6zYvcysuNJXqRbGB6">fill out this Google form</a> instead. Creating an account will be for your use only and will not be for a verified account. Admins will create the verified account based on your Google form input.{% endblocktranslate %}</p>

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

{% block javascript %}
<script type="application/javascript">
window.addEventListener('DOMContentLoaded', function() {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
