{% extends 'base.html' %}
{% load paginate %}

{% block title %}Community | Donate Anything{% endblock %}

{% block css %}
  <style>
  .mobile-viz {
    visibility: visible;
  }
  @media only screen and (max-width: 767px) {
    .mobile-viz {
      visibility: hidden;
    }
  }
  </style>
{% endblock %}

{% block content %}
  <h1>Welcome to our</h1>
  <ul>
    <li><a href="{% url 'charity:all-list' %}">Community (list of organizations)</a></li>
    <li><a href="https://discord.gg/ePZMrKN">Chat on Discord</a></li>
    <li><a href="https://www.reddit.com/r/DonateAnything/">SubReddit</a></li>
    <li>And our:</li>
  </ul>
  <h3>Forum</h3>
  <div class="row pt-3 pb-3">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-7 font-weight-bold">Latest</div>
            <div class="col-md-5 mobile-viz">Replies Views Last Post</div>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          {% for obj in object_list %}
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-7 pl-4">
                  <div class="row"><a href="{% url 'forum:thread' obj.id %}">{{ obj.title|escape }}</a></div>
                  {% with first_msg=obj.message_set.first %}
                    {% if first_msg %}
                    <div class="row"><small>
                      By: <a href="{% url 'users:detail' first_msg.user %}">{{ first_msg.user.username }}</a> on {{ obj.created }}
                    </small></div>
                    {% else %}
                      <div class="row"><small>By: System Generator</small></div>
                    {% endif %}
                  {% endwith %}
                </div>
                <div class="col-md-5 mobile-viz">
                  <div class="row">
                    {% with num_posts=obj.num_posts %}
                    <div class="col-md-2">{% if num_posts > 0 %}{{ num_posts }}{% else %}0{% endif %}</div>
                    {% endwith %}
                    <div class="col-md-2">{{ obj.views }}</div>
                    {% with last_message=obj.message_set.last %}
                      {% if last_message %}
                      <div class="col-md-8"><small>
                        By: <a href="{% url 'users:detail' last_message.user %}">{{ last_message.user.username }}</a> on {{ last_message.created }}
                      </small></div>
                      {% else %}
                        <div class="col-md-8 pl-4"><small>None</small></div>
                      {% endif %}
                    {% endwith %}
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <nav>
    <ul class="pagination">
      <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
        <a class="page-link" href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}" tabindex="-1">Previous</a>
      </li>
      {% for link, value in request.get_full_path|paginate:page_obj.paginator.num_pages %}
        <li class="page-item{% if page_obj.number == value %} active{% endif %}">
          <a class="page-link" href="{{ link }}">{{ value }}</a>
        </li>
      {% endfor %}
      <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
        <a class="page-link" href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}">Next</a>
      </li>
    </ul>
  </nav>
{% endblock %}
