{% extends 'base.html' %}
{% load crispy_forms_tags i18n static compress paginate %}

{% block title %}{{ thread_obj.title }} | Donate Anything{% endblock %}

{% block css %}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
{% endblock %}

{% block content %}
  <h3 class="p-3">{{ thread_obj.title }}</h3>
  <p class="font-italic">Thread type: {{ thread_obj.get_type_display }}</p>
  {% blocktranslate %}
    <p class="font-italic">
      This thread type asks for votes. You can <i>carefully</i> vote on this merge
      as a contribution to the community (you must be signed in):
    </p>
  {% endblocktranslate %}
  {% if thread_obj.accepted %}
    <h5>{% translate 'This proposed edit has already been merged.' %}</h5>
  {% endif %}
  <div class="pb-3 pl-4">
    <div class="row">
      <a style="cursor: pointer">
        <i id="upvote" data-vote-url="{% url 'forum:thread-vote' thread_obj.id 1 %}" class="fas fa-lg fa-arrow-up pr-2{% if user_vote == 1 %} text-danger{% endif %}" aria-hidden="true"></i>
      </a>
      <p id="upvote-count" style="float: left">{{ upvotes }} upvotes</p>
    </div>
    <div class="row pt-2">
      <a style="cursor: pointer">
        <i id="downvote" data-vote-url="{% url 'forum:thread-vote' thread_obj.id 0 %}" class="fas fa-lg fa-arrow-down pr-2{% if user_vote == 0 %} text-danger{% endif %}" aria-hidden="true"></i>
      </a>
      <p id="downvote-count" style="float: left">{{ downvotes }} downvotes</p>
    </div>
  </div>
  {% for message in object_list %}
    <div class="card mb-3">
      <div class="card-header">
        <small>By: <a href="{% url 'users:detail' message.user %}">{{ message.user.get_username }}</a> on {{ message.created }}</small>
      </div>
      <div class="card-body markdown-marker">{{ message.message|escape }}</div>
      <div class="card-footer"><small>Last Updated: {{ message.updated }}</small></div>
    </div>
  {% endfor %}
  <nav>
    <ul class="pagination">
      <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
        <a class="page-link" href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}" tabindex="-1">Previous</a>
      </li>
      {% for link, value in request.get_full_path|paginate:page_obj.paginator.num_pages %}
        <li class="page-item{% if page_obj.number == value %} active{% endif %}">
          <a class="page-link" href="{{ link }}">{{ value }}</a>
        </li>
      {% endfor %}
      <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
        <a class="page-link" href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}">Next</a>
      </li>
    </ul>
  </nav>
  {% if request.user.is_authenticated %}
    <hr>
    <h4 class="text-center">{% translate 'Post Message' %}</h4>
    <div>
      <form method="post" action="{% url 'forum:thread-form' thread_obj.id %}">
        {% csrf_token %}
        {{ thread_forum_form|crispy }}
        <button class="primaryAction btn btn-primary" type="submit">{% translate "Post" %}</button>
      </form>
    </div>
  {% endif %}
{% endblock %}

{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" integrity="sha512-L03kznCrNOfVxOUovR6ESfCz9Gfny7gihUX/huVbQB9zjODtYpxaVtIaAkpetoiyV2eqWbvxMH9fiSv5enX7bw==" crossorigin="anonymous"></script>
  {% compress js %}
    <script src="{% static 'js/forum/thread.js' %}"></script>
    {% if request.user.is_authenticated %}
      <script src="{% static 'js/markdown_editor.js' %}"></script>
    {% endif %}
    {% if show_vote %}
      <script src="{% static 'js/forum/vote.js' %}"></script>
    {% endif %}
  {% endcompress %}
{% endblock %}
