{% extends 'base.html' %}
{% load crispy_forms_tags i18n static compress %}

{% block title %}{{ object_list.0.thread.title }}{% endblock %}

{% block content %}
  <h3 class="p-3">{{ object_list.0.thread.title }}</h3>
  {% for message in object_list %}
    <div class="card mb-3">
      <div class="card-header">
        <small>By: <a href="{% url 'users:detail' message.user %}">{{ message.user.get_username }}</a> on {{ message.created }}</small>
      </div>
      <div class="card-body markdown-marker">{{ message.message|escape }}</div>
      <div class="card-footer"><small>Last Updated: {{ message.updated }}</small></div>
    </div>
  {% endfor %}
  {% if request.user.is_authenticated %}
    <div>
      <form method="post" action="{% url 'forum:thread-form' object_list.0.thread.id %}">
        {% csrf_token %}
        {{ thread_forum_form|crispy }}
        <button class="primaryAction btn btn-primary" type="submit">{% trans "Post" %}</button>
      </form>
    </div>
  {% endif %}
{% endblock %}

{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" integrity="sha512-L03kznCrNOfVxOUovR6ESfCz9Gfny7gihUX/huVbQB9zjODtYpxaVtIaAkpetoiyV2eqWbvxMH9fiSv5enX7bw==" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      converter = new showdown.Converter();
      converter.setFlavor('github');
      const elements = document.querySelectorAll('.markdown-marker');
      Array.from(elements).forEach((element, _) => {
        element.innerHTML = converter.makeHtml(element.innerHTML);
      });
    })
  </script>
  {% compress js %}
    <script src="{% static 'js/markdown_editor.js' %}"></script>
  {% endcompress %}
{% endblock %}
