{% extends "base.html" %}
{% load static compress %}
{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% compress css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
  {% endcompress %}

{% endblock %}

{% block tempalert %}
  <div class="alert alert-danger" id="cant-edit-alert" style="visibility: hidden">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>
      You can only read these inputs. To edit, delete
      the input and retype it in.
    </strong>
  </div>
  <div class="alert alert-danger" id="no-value-alert" style="visibility: hidden">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>You must select an item first (or press enter to autocomplete).</strong>
  </div>
{% endblock %}

{% block content %}
  <div id="home-container">
    <h1 class="da-text-color">Donate Anything!</h1>
    <div django-media-url="{% get_media_prefix %}" id="main-scrollable-dropdown-menu">
      <input id="typeahead-input-field" class="typeahead shadow-sm" type="text"
             placeholder="Can I donate a(n)..." style="margin-bottom: 25px">
    </div>
    <div id="add-multi-button" class="rounded-button">
      <b>+ Add more items</b>
    </div>
    <div id="search-multi-button" class="rounded-button">
      <i class="fa fa-search"></i> Lookup organizations that fulfill the most items
    </div>

    <div id="organizations"></div>
    <div id="more-organizations-button" class="rounded-button">
      <i class="down-arrow"></i>
      <b>More results</b>
    </div>
  </div>
{% endblock %}
