{% extends "base.html" %}
{% load static compress %}
{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% compress css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
  {% endcompress %}

{% endblock %}

{% block content %}
  <div id="home-container">
    <div django-media-url="{% get_media_prefix %}" id="main-scrollable-dropdown-menu">
      <input id="typeahead-input-field" class="typeahead" type="text"
             placeholder="Can I donate a(n)..." style="margin-bottom: 25px">
    </div>
    <div id="add-multi-button" class="rounded-button">
      <b>+ Add more items</b>
    </div>
    <div id="search-multi-button" class="rounded-button">
      <i class="fa fa-search"></i> Lookup organizations that fulfill the most items
    </div>

    <div id="organizations"></div>
    <div id="more-organizations-button" class="rounded-button">
      <i class="down-arrow"></i>
      <b>More results</b>
    </div>
  </div>
{% endblock %}

{% block modal %}
  <div id="readonlyModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        </div>
        <div class="modal-body">
          You can only read these inputs. To edit, delete
          the input and retype it in.
        </div>
      </div>
    </div>
  </div>
{% endblock %}
