{% extends 'base.html' %}
{% load static compress i18n %}

{% block css %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/proposed_item.css' %}">
  {% endcompress %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg==" crossorigin="anonymous" />
{% endblock %}

{% block title %}Propose Items | Donate Anything{% endblock %}

{% block content %}
  <!-- Alerts -->
  <div class="alert alert-success" id="success-alert" style="visibility: hidden">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Success! </strong> Successfully submitted.
  </div>
  <div class="alert alert-danger" id="fail-alert" style="visibility: hidden">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>ERROR! </strong> Failed to save.
  </div>
  <!-- Content -->
  <h2 id="content-header">Propose Items to Merge</h2>
  {% blocktranslate %}
  <p>The following items will be added to the item's list that an organization can fulfill.</p>
  <p>
    To make the process easier, you can write a generic item like "utensils," and all its
    more specific items (e.g. plastic fork, metal fork, plastic spoon) will be automatically
    added. You should still be specific, for example, "canned tomatoes" go under
    "canned food" and "canned food" go under "food." If you only want canned foods,
    you should only type in "canned food."
  </p>
  <p><b>
    MAKE SURE YOU ADD EVERYTHING you can fulfill. Donate Anything implies practically Anything
    can be searched up. You can use <a href="https://gist.github.com/Andrew-Chen-Wang/1422ea2838188f6d318315e1fdcdbbd6">
    generic items (which will also be added)</a> to quickly fill in hundreds of items at a time.
    Make sure you have enough items to be found in any search result made by the user.
  </b></p>
  {% endblocktranslate %}
  <p>
    To view the organization's current items:
    <a id="current-items-a-anchor" href="{% url 'item:list-item-template' 0 %}">click here</a>
  </p>
  <p>Once you submit, you will be redirected to the forum where other users can vote on your proposed merge.</p>
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-primary" onclick="addToTable();">Add Item</button>
    </div>
    <div class="col-md-9">
      <div django-media-url="{% get_media_prefix %}" id="main-scrollable-dropdown-menu">
        <input id="typeahead-input-field" class="typeahead" type="text"
               placeholder="Add an item (even if it doesn't show in suggestion bar)">
        <p class="h4"><b>Condition:</b></p>
        <label>
          <select id="current-select" class="selectpicker show-tick">
            <option>Poor</option>
            <option>Used - Acceptable</option>
            <option>Used - Very Good</option>
            <option selected>Brand New</option>
          </select>
        </label>
      </div>
    </div>
  </div>
  <br>

  <!-- Nonexistent items table -->
  <h4>Items that the server will create if merged</h4>
  <table id="non-existent-table">
    <tr>
      <th>{% translate 'Name' %}</th>
      <th>{% translate 'Condition' %}</th>
      <th>{% translate 'Remove' %}</th>
    </tr>
  </table>
  <br>

  <h4>Items that the server has</h4>
  <table id="existent-table" data-item-ids="" data-forum-url="{% url 'forum:home' %}" data-obj-id="0">
    <tr>
      <th>{% translate 'Name' %}</th>
      <th>{% translate 'Condition' %}</th>
      <th>{% translate 'Remove' %}</th>
    </tr>
  </table>
  <br>
  {% csrf_token %}
  <button onclick="saveProgress('{% url 'item:proposed-item-form' %}');" class="btn btn-primary">{% trans "Save" %}</button>
  <div class="pb-4"></div>
{% endblock %}

{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous"></script>
  {% compress js %}
    <script src="{% static 'js/item/search.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/item/propose_initial.js' %}" type="application/javascript"></script>
  {% endcompress %}
{% endblock %}
