{% extends 'base.html' %}
{% load compress static i18n %}

{% block css %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    {% if can_edit %}
    <link rel="stylesheet" href="{% static 'css/proposed_item.css' %}">
    {% endif %}
  {% endcompress %}
{% endblock %}

{% block content %}
  <h2>
    Proposed Items for <a href="{% url 'charity:organization' proposed_item.entity.id %}">{{ proposed_item.entity.name }}</a>
  </h2>
  {% if proposed_item.closed %}
    <h3 class="text-danger">This merge is closed.</h3>
  {% endif %}
  {% blocktranslate %}
  <p>The following items will be added to the item's list that an organization can fulfill.</p>
  <p>
    To make the process easier, you can write a generic item like "utensils," and all its
    more specific items (e.g. plastic fork, metal fork, plastic spoon) will be automatically
    added. You should still be specific, for example, "canned tomatoes" go under
    "canned food" and "canned food" go under "food." If you only want canned foods,
    you should only type in "canned food."
  </p>
  <p><b>
    MAKE SURE YOU ADD EVERYTHING you can fulfill. Donate Anything implies practically Anything
    can be searched up. Make sure you have enough items to be found in any search result made
    by the user.
  </b></p>
  {% endblocktranslate %}
  <p>
    To view the organization's current items:
    <a href="{% url 'item:list-item-template' proposed_item.entity.id %}">click here</a>
  </p>
  <p>If you have opinions regarding these items, please write them in the linked forum thread.</p>

  {% if can_edit %}
    <!-- Alerts -->
    <div class="alert alert-success" id="success-alert" style="visibility: hidden">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>Success! </strong> Successfully submitted.
    </div>
    <div class="alert alert-danger" id="fail-alert" style="visibility: hidden">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>ERROR! </strong> Failed to save.
    </div>
    <!-- Buttons -->
    <div class="row pb-3">
      {% csrf_token %}
      <button onclick="saveProgress('{% url 'item:proposed-item-form' %}');" class="btn btn-primary">Save Progress</button>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button class="btn btn-primary" onclick="addToTable();">Add Item</button>
      </div>
      <div class="col-md-9">
        <div django-media-url="{% get_media_prefix %}" id="main-scrollable-dropdown-menu">
          <input id="typeahead-input-field" class="typeahead" type="text"
                 placeholder="Add an item (even if not on server)">
        </div>
      </div>
    </div>
    <br>
  {% endif %}

  <!-- Nonexistent items table -->
  <div>
  <h4>Items that the server will create if merged</h4>
    {% if can_edit %}
      <table id="non-existent-table">
        <tr>
          <th>Name</th>
          <th>Remove</th>
        </tr>
      {% for name in proposed_item.names %}
        <tr>
          <td>{{ name }}</td>
          <td><a class="text-danger">Remove</a></td>
        </tr>
      {% endfor %}
      </table>
    {% else %}
      <ul>
      {% for name in proposed_item.names %}
        <li>{{ name }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </div><br>

  <!-- Existent items table -->
  <div>
  <h4 id="heading-with-data" data-paging-url="{% url 'item:list-proposed-item' proposed_item.id %}">Items that the server has</h4>
  <p><small>Note: this list shows items in id order</small></p>
  {% if can_edit %}
    <table id="existent-table" data-obj-id="{{ proposed_item.id }}" data-item-ids="{{ proposed_item.item }}">
      <tr>
        <th>Name</th>
        <th>Remove</th>
      </tr>
    </table>
  {% else %}
    <p id="none-item"></p>
    <ul id="existent-list"></ul>
  {% endif %}
  <br>
{% endblock %}

{% block javascript %}
  {% if can_edit %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.jquery.min.js" crossorigin="anonymous"></script>
  {% endif %}

  {% compress js %}
    <script src="{% static 'js/item/propose.js' %}" type="application/javascript"></script>
    {% if can_edit %}
      <script src="{% static 'js/item/search.js' %}" type="application/javascript"></script>
    {% endif %}
  {% endcompress %}
{% endblock %}
