{% extends 'base.html' %}
{% load i18n paginate %}

{% block title %}Organizations | Donate Anything{% endblock %}

{% block content %}
  <h2 class="pt-4">Supported Organizations</h2>
  <p class="font-italic">
    {% trans 'Disclaimer: many of these organizations are listed here by volunteer users. These organizations and entities were voted in to this list to be shown to people who want to donate their items, either to a cause, for recycling, or simply not knowing what to do with material that pollute the earth.' %}
  </p>
  <ul>
  {% for org in page_obj.object_list %}
    <li><a href="{% url 'charity:organization' org.id %}">{{ org.name }}</a></li>
  {% endfor %}
  </ul>
  <nav>
    <ul class="pagination">
      <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
        <a class="page-link" href="?page={% if page_obj.has_previous %}{{ page_obj.previous_page_number }}{% endif %}" tabindex="-1">Previous</a>
      </li>
      {% for link, value in request.get_full_path|paginate:page_obj.paginator.num_pages %}
        <li class="page-item{% if page_obj.number == value %} active{% endif %}">
          <a class="page-link" href="{{ link }}">{{ value }}</a>
        </li>
      {% endfor %}
      <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
        <a class="page-link" href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}">Next</a>
      </li>
    </ul>
  </nav>
{% endblock %}
