{% extends "base.html" %}
{% load crispy_forms_tags i18n static compress %}

{% block css %}
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
  {% compress css %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
  {% endcompress %}
{% endblock %}

{% block content %}
  <div class="landing text-center" style="padding-top: 70px">
    <h1 id="content-header" data-org-id="{{ id }}" data-aos="fade-up">{{ name }}</h1><br>
    <div data-aos="fade-up">
      <p id="org-description">{{ description|escape }}</p>
    </div><br>
    <div class="pb-4" data-aos="fade-up">
      <p class="font-italic"><u>How to Donate</u></p>
      <p id="org-instructions">{{ how_to_donate|escape }}</p>
    </div><br>
    <div class="pb-4">
      <p>
        To view the organization's current items:
        <a href="{% url 'item:list-item-template' id %}">click here</a>
      </p>
    </div>
  </div>
  {% if request.user.is_authenticated %}
    <div data-aos="fade-up">
      <hr>
      <h4 class="text-center">{% if is_verified_account %}{% translate "Edit Here" %}{% else %}{% translate "Suggest Edit" %}{% endif %}</h4>
      <a class="btn btn-primary" target="_blank" onclick="goToProposeItemForm()" href="{% url 'item:initial-proposed-template' %}">
        To suggest new items, click here.
      </a>
      <form action="{% url 'charity:suggest-active-org' id %}" method="post">
        {% csrf_token %}
        {{ suggest_edit_form|crispy }}
        <button class="primaryAction btn btn-primary" type="submit">{% if is_verified_account %}{% translate "Save Edit" %}{% else %}{% trans "Suggest Edit" %}{% endif %}</button>
      </form>
    </div>
  {% endif %}
{% endblock %}

{% block javascript %}
  <!-- Markdown viewer -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" integrity="sha512-L03kznCrNOfVxOUovR6ESfCz9Gfny7gihUX/huVbQB9zjODtYpxaVtIaAkpetoiyV2eqWbvxMH9fiSv5enX7bw==" crossorigin="anonymous"></script>
  <!-- Animate on scroll -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous"></script>
  {% compress js %}
    <script defer src="{% static 'js/markdown_editor.js' %}"></script>
    <script defer src="{% static 'js/organization/view.js' %}"></script>
  {% endcompress %}
{% endblock %}
