{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
{% endblock %}

{% block content %}
  <div class="landing text-center" style="padding-top: 70px">
    <h1 data-aos="fade-up">{{ name }}</h1><br>
    <div data-aos="fade-up">
      <p id="org-description">{{ description|escape }}</p>
    </div><br>
    <div class="pb-4" data-aos="fade-up">
      <p class="font-italic"><u>How to Donate</u></p>
      <p id="org-instructions">{{ how_to_donate|escape }}</p>
    </div><br>
  </div>
{% endblock %}

{% block javascript %}
  <!-- Markdown viewer -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" integrity="sha512-L03kznCrNOfVxOUovR6ESfCz9Gfny7gihUX/huVbQB9zjODtYpxaVtIaAkpetoiyV2eqWbvxMH9fiSv5enX7bw==" crossorigin="anonymous"></script>
  <script type="text/javascript">
  let converter = new showdown.Converter();
  converter.setFlavor('github');
  $("#org-description").html(converter.makeHtml(document.getElementById("org-description").innerHTML));
  $("#org-instructions").html(converter.makeHtml(document.getElementById("org-instructions").innerHTML));
  </script>
  <!-- Animate on scroll -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous"></script>
  <script type="text/javascript">
  AOS.init();
  </script>
{% endblock %}
